{% extends 'main.html' %}

{% block content %}
{% load static %}


<div class='product_sec1'>
    <h2>All Products</h2>
</div>

</div>

 <div class='container'>
            <div class='sec3'>
                
                <div class='row'>  
                    {% for product in products %}         
                    <div class='col-md-4'>
                        <div class='sec2_div'>
                                    <img class='sec3_img' src="{{product.image.url}}">
                                    <div class='product_sec3'>
                                        <button data-product="{{product.id}}" data-action="add" class='update-cart product_sec3_btn btn-primary'>Add to Cart</button>
                                    <a class="" href="#"><button class='product_sec3_btn btn-primary'>view</button></a>
                                    </div>
                                    <h3>${{product.price}}</h3>      
                        </div>
                    </div> 
                    {%endfor%} 
                </div>
               
            </div>
        
        </div>


<!-- footer -->
<div class="fooo">
    <div class='container '>
        <div class='row'>
            <div class='col-md-4'>
                <h3 style=' color:aliceblue;'> Download Our App </h3>
                <p style=' color:aliceblue;'>Download App for Android and ios mobile phone.</p>
                
                <div class='row'>
                    <div class='col-md-4'>
                        
                    <img class='foot_img' src="{% static 'images/images/play-store.png'  %}" alt="">
    
                    </div>
    
                    <div class='col-md-4'>
                        
                    <img class='foot_img' src="{% static 'images/images/app-store.png'    %}">
    
                    </div>
                </div>  
                
            </div>
    
            <div class='col-md-4' ">
    
                <img class='foot_img2' src="{%static 'images/warlogo.png'    %}">
                <p style="text-align: center; color:aliceblue;">Our Purpose is To Sustainably Make the Pleasure and
                    Benefit of Sports Accessible to the Many.</p>
            </div>
    
            <div class='col-md-2'>
             
                <h3 style=' color:aliceblue;'>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
    
            <div class='col-md-2 '>
                <h3 style=' color:aliceblue;'>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Istargram</li>
                    <li>Youtube</li>
                </ul>
            </div>
    
        </div>
    
        <hr>
        <p style='text-align: center; color:aliceblue; '>Copyright 2020 - Kitovu </p>
    </div>

</div>





    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle(){
            if (MenuItems.style.maxHeight == "0px")
                {
                    MenuItems.style.maxHeight = "200px";
                }
            else 
                {
                    MenuItems.style.maxHeight = "0px";
                }
        }
    </script>
{%endblock%}