{% extends 'main.html' %}

{% block content %}
{% load static %}


<div class='product_sec1'>
    <h2>All Products</h2>
</div>

</div>

 <div class='container'>
            <div class='sec3'>
                
                <div class='row'>  
                    {% for product in products %}         
                    <div class='col-md-4'>
                        <div class='sec2_div'>
                                    <img class='sec3_img' src="{{product.image.url}}">
                                    <div class='product_sec3'>
                                        <button data-product="{{product.id}}" data-action="add" class='update-cart product_sec3_btn btn-primary'>Add to Cart</button>
                                    <a class="" href="#"><button class='product_sec3_btn btn-primary'>view</button></a>
                                    </div>
                                    <h3>${{product.price}}</h3>      
                        </div>
                    </div> 
                    {%endfor%} 
                </div>
               
            </div>
        
        </div>


<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3> Download Our App </h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="{% static 'images/images/play-store.png'  %}" alt="">
                    <img src="{% static 'images/images/app-store.png'    %}">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="{%static 'images/images/logo-white.png'    %}">
                <p>Our Purpose is To Sustainably Make the Pleasure and
                    Benefit of Sports Accessible to the Many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-3">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Istargram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2020 - Arney's Sweat </p>
    </div>
</div>




    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle(){
            if (MenuItems.style.maxHeight == "0px")
                {
                    MenuItems.style.maxHeight = "200px";
                }
            else 
                {
                    MenuItems.style.maxHeight = "0px";
                }
        }
    </script>
{%endblock%}